.venv
.venv/
venv/
*.pyc
__pycache__/
app/maps/europe.pmtilesx
app/maps/europe.pmtilesb
app/maps/europe.pmtilesp
fastembed_models/

.env
.env.*

*.log
backend.log
ollama.log
pmtiles.log
promptlog.log

*.pmtiles
