.env
.env.*
!.env.example
.git
.gitignore
.phpunit.result.cache
auth.json
bootstrap/cache/*.php
composer.phar
docker-compose.yml
node_modules
public/build
public/hot
storage/app/git-repos
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*.log
tests
vendor
